/*首页样式*/
.font-size18{
    font-size:18px !important;
}
.bgcolor-f1f1f1{
    background-color: #f1f1f1;
}
.item-child .item{
    font-size: 14px;
}
.col{
    border:1px solid #ddd;
    background-color: #eee;
}